 <footer class="container-fluid bg-dark">
     <div class="row">
         <section class="col text-light">
             Colonne 1
         </section>
         <section class="col text-light">
             Colonne 2
         </section>
         <section class="col text-light">
             Colonne 3
         </section>
     </div>
 </footer>