{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<div class="container-fluid my-5">    
    <div class="d-flex justify-content-center text-light pt-5 pb-5">
        <div class="inline-block shadow-lg bg-rouge p-5 col-lg-4 col-sm-8 m-2 mt-5 mb-5">
            <h1 class="fs-2">Réinitialisation de mot de passe</h1>
            {{ form_start(requestPassForm) }}
                {{ form_row(requestPassForm.email)}}
                <button type="submit" class="btn btn-light mt-2">Envoyer</button>    
            {{ form_end(requestPassForm) }}
        </div>
    </div>
</div>
{% endblock %}