{% extends "base.html.twig" %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
<main class="container">
    <section class="row my-3">
        <div class="col-12 my-5">
            <h1 class="my-5">Ajouter un produit</h1>
            {% include "admin/products/_form.html.twig" %}
        </div>
    </section>
</main>
{% endblock %}