<section class="container">
    <div class="bg-rouge h-25">
        <h1 class="text-light fw-bold fs-3">Chauss</h1>
    </div>
    <div class="row">
        <h2>Réinitialisé votre compte</h2>
        <p>Bonjour {{ user.firstname }},</p>
        <p>Veuillez cliquer sur le lien suivant pour réinitialisé votre mot de passe :</p>
        <a href="{{ url|raw }}">{{ url|raw }}</a>
        <p>Merci</p>
    </div>
</section>